<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhangtianxiang15">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/xiaohui"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/account"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login.Login"></activity>
        <activity android:name=".Login.Register"></activity>
        <activity android:name=".Page.Selectaction"></activity>
        <activity android:name=".Page.AddStudent"></activity>
        <activity android:name=".Page.RemoveStudent"></activity>
        <activity android:name=".Page.AlterScore"></activity>
        <activity android:name=".Page.DisplayStudent"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>